@import 'https://fonts.googleapis.com/css?family=Raleway';
@import 'wow-styling.css';

html, body {
	font-family: Raleway;
}

.be-head {
	background: #222;
	text-align: center;
	padding: 0;
	margin-bottom: 5px;
}

.be-head.be-fixed {
	margin-bottom: 55px;
}

button a {
	color: #e4e4e4 !important;
	text-decoration: none !important;
}

.be-head a {
	color: #e4e4e4 !important;
	text-decoration: none !important;
	font: 1.25em Raleway;
	margin: 0px 0.25rem;
	padding: 10px 10px;
	position: relative;
	cursor: pointer;
}

.be-logo {
	background-image:url('../img/logo-white-nbg.png');
	background-size: cover;
	display: block;
	margin: 5px auto;
	width: 8.5rem;
	height: 8.5rem;
}

.be-head .navHov {
	background: #222;
	padding: 10px 10px;
	transition: all 0.2s;
	min-height: 50px;
}

.be-head.be-fixed .navHov {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9999;
}

.navHov a:before {
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0px;
	bottom: 0px;
	content: '';
	background: #00ffd0;
	opacity: 0.25;
	transition: all 0.3s;
}

.navHov a:hover:before {
	height: 100%;
}

@media (max-width: 576px) {
	.be-head .navHov {
		overflow: hidden;
	}

	.be-head .navHov a {
		display: block;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}

	.be-head .navHov .mainNav {
		background-color: #333;
		max-height: 0;
		-webkit-transition: max-height 0.6s ease-in-out, visibility 0.3s;
		transition: max-height 0.6s ease-in-out, visibility 0.3s;
		visibility: hidden;
	}
	
	.be-head .navHov.toggled .mainNav {
		max-height: 300px;
		visibility: visible;
	}
}

@media all and (max-width: 768px) {
  div.highlight-panel {
     display: none;
  }
}

.highlight-panel {
	padding: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #222;
	height: 240px;
	/*-webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);*/

}

.highlight-img {
	background-size: cover;
	background-image: url("../img/highlight.jpg");
	background-repeat: no-repeat;
	background-position: 0px -110px;
	filter: hue-rotate(285deg);

}

.highlight-wrap {
	padding:10px;
	width: 100%;
	position: relative;
	top: 151px;
	background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 98%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 98%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	text-shadow: 2px 2px 1px #000;

}

.highlight-title {
	color: #e4e4e4;
	font-size: 1.8em;

}

.highlight-desc {
	color: #e4e4e4;

}

.be-sidebar {
	color: #e4e4e4;
	min-height: 500px;
	background-color: #222;
	padding: 10px;
	margin: 0;
}

.be-news {
	padding: 10px;
	height: 500px;
}

.sidebar-section {
	font-size: 1em;

}

.news-title {
	color: #222;
	font-size: 1.75em;
}

.news-author-info {
	color: #222;
	margin-top: -15px;
	border-bottom: 1px solid #222;
}

.news-author {

}

.news-date {
	font-size: 0.85em;
}

.news-time {
	font-size: 0.85em;
}

.news-content {
	margin-top: 15px;
	color: #222;
	margin-bottom: 1.2rem;
}

.side-recruitment {
	padding: 10px 2px 10px 2px;
	margin-top: 15px;
	font-size: 0.8rem;
}

.side-progression {
	padding: 10px 2px 10px 2px;
	margin-top: 15px;
	font-size: 0.8rem;
}

.recruit-table {
	width: 100%;
	margin-bottom: 15px;
}

.recruit-table img {
	height: 20px;
	width: 20px;
	margin-right: 3px;
}

.side-progression button {
	width: 100%;
	height: 32px;
	display: block;
	border: 0;
	font-size: 0.97rem;
	outline: none;
	margin-bottom: 3px;
	transition: 0.22s;
}

.side-progression button:hover {
	opacity: 0.75;
}

.side-progression button span {
	color: #e4e4e4;
	text-shadow: 2px 2px 2px black;
}

.prog-nh-btn {
	background-image:url('../img/nighthold.jpg');
	background-size: cover;
}

.prog-tov-btn {
	background-image:url('../img/tov.jpg');
	background-size: cover;
}

.prog-en-btn {
	background-image:url('../img/en.jpg');
	background-size: cover;
}

.prog-col-content {
	padding: 8px;
}

.prog-table {
	width: 100%;
}

.kill-status {
	font-size: 0.65rem;
}

.kill-mythic {
	color: #DB4B4B;
}

.kill-heroic {
	color: #F09E4D;
}

.kill-normal {
	color: #F0CA4D;
}

.raid-sched {
	background: white;
	color: #222;
	min-width: 300px;
	font-size: 0.8rem;
	padding: 10px 25px;
	margin-bottom: 22px;
}

@media (max-width: 576px) {
	.raid-sched {
		width:100%;
	}
}

/*.app-form {
	font-size: 0.9rem;
	margin-bottom: 2rem;
}

.form-control {
	padding: 0.45rem 0.45rem;
	font-size: 0.8rem;
}

.form-group {
	margin-bottom: 0.25rem;
}*/

.app-form {
	padding: 1rem;
}

.app-submit {
	margin: 3rem 0;
}

.raid-sched img {
	margin-right: 4px;
	background-size: cover;
}

.raid-sched td {
	padding-right: 1rem;
}

.set-recruit {
	font-size: 0.85rem;
	width: 100%;
}

.set-recruit input {
	width: 100%;
}

.applications {
	width: 100%;
	font-size: 0.75rem;
}

footer {
	background: #222;
	color: #e2e2e2;
	margin-bottom: -16px;
	padding: 2rem 1rem 0 1rem;
}

footer ul {
	list-style-type: none;
	padding: 0;
	font-size: 0.75rem;
}

footer .panel {
	margin-top: 0.75rem;
}

footer a {
	color: #e4e4e4 !important;
	text-decoration: none !important;
}